// add original scss

.one-line {
  white-space: nowrap;
}


// btn group の色を btn と同等にする修正
// color で濃いめを指定すること
.v-btn-toggle.custom .v-btn.v-item--active:before {
  opacity: 1 !important;
}
.v-btn-toggle.custom .v-btn.v-item--active i {
  color: white !important;
}

// ボーダーの丸み上下
// TODO: 4px を vuetify の変数に置き換えたい
.top-flat {
  border-radius: 0px 0px 4px 4px !important;
}
.bottom-flat {
  border-radius: 4px 4px 0px 0px !important;
}
.right-flat {
  border-radius: 4px 0px 0px 4px !important;
}
.left-flat {
  border-radius: 0px 4px 4px 0px !important;
}

// z-index
.foreground {
  z-index: 4; // とりあえず (vuetify の overlay は default 5)
}
