// add original scss

.one-line {
  white-space: nowrap;
}


// btn group の色を btn と同等にする修正
// color で濃いめを指定すること
.v-btn-toggle.custom .v-btn.v-item--active:before {
  opacity: 1 !important;
}
.v-btn-toggle.custom .v-btn.v-item--active i {
  color: white !important;
}
